In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [6]:
#Problem no 1
Hypotest1data=pd.read_csv('C:/Users/Yogendra/Downloads/Cutlets.csv')

In [11]:
UnitA=Hypotest1data['Unit A']
UnitB=Hypotest1data['Unit B']

In [14]:
stats.ttest_ind(UnitA,UnitB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [17]:
#problem no 2
Hypotest2data=pd.read_csv('C:/Users/Yogendra/Downloads/LabTaT.csv')

In [19]:
test2df=pd.DataFrame(Hypotest2data)

In [21]:
stats.f_oneway(test2df.iloc[:,0], test2df.iloc[:,1],test2df.iloc[:,2],test2df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [22]:
#problem no 3
Hypotest3data=pd.read_csv('C:/Users/Yogendra/Downloads/BuyerRatio.csv')

In [23]:
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [24]:
Hypotest3data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [25]:
Hypotest3data=Hypotest3data.drop('Observed Values', axis=1)
Hypotest3data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [26]:
stat,p,dof,expected=stats.chi2_contingency(Hypotest3data)

In [28]:
print('Chi square test p value is ',p)

Chi square test p value is  0.6603094907091882

In [29]:
#Problem no 4
Hypotest4data=pd.read_csv('C:/Users/Yogendra/Downloads/Costomer+OrderForm.csv')

In [30]:
Hypotest4data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [34]:
Hypotest4data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [35]:
Hypotest4data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [36]:
Hypotest4data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [37]:
Hypotest4data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [38]:
#making contingency table
Cont_tabl=np.array([[271,267,269,280], [29,33,31,20]])
Cont_tabl

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [39]:
stat,p,dof,expected=stats.chi2_contingency(Cont_tabl)

In [40]:
print("Chi Square test is ", p)

Chi Square test is  0.2771020991233135